.floating-button:hover {
    transform: translateY(-3px);
    /* You can adjust the translateY value to change the floating distance */
    
    /* Expanding shadow effect */
    box-shadow: 0px 18px 40px rgba(0, 97, 182, 1);
    /* Increase the blur radius and/or spread radius to make the shadow expand */
    /* You can also adjust other properties like the color to your preference */
    transition: box-shadow 0.3s ease-in-out;
    /* The transition property will make the change smooth over 0.3 seconds */
  }

  .shadow-below {
    box-shadow: 0px 4px 40px rgba(0, 97, 182, 0.5);
    /* Adjust the blur radius to make the shadow bigger (e.g., 12px) */
  }

  @keyframes rotate {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  

  @keyframes pulsate {
    0%, 100% {
      width: 200px;
      height: 300px;
    }
    50% {
      width: 250px;
      height: 220px;
    }
  }

.hero::before {
    content: "";
    position: absolute;
    overflow: auto;
    width: 300px; /* adjust size as needed */
    height: 300px; /* adjust size as needed */
    background-color: #1d80d7; /* adjust color as needed */
    border-radius: 50%; /* makes the shape a circle */
    filter: blur(130px); /* adjust blur as needed */
    /* adjust position as needed */
    top: 60%;
    left: 36%;
    /* corrects position due to the blob's size */
    transform: translate(-50%, -50%);
    z-index: -999; /* puts the blob behind other content */
    transform-origin: center center; /* Set the rotation point to the center of the element */
    animation: rotate 50s infinite linear, pulsate 10s infinite ease-in-out;

}

.hero2::before {
  content: "";
  position: absolute;
  overflow: hidden;
  width: 200px; /* adjust size as needed */
  height: 200px; /* adjust size as needed */
  background-color: #1d80d7; /* adjust color as needed */
  border-radius: 50%; /* makes the shape a circle */
  filter: blur(130px); /* adjust blur as needed */
  /* adjust position as needed */
  top: 30%;
  left: 50%;
  /* corrects position due to the blob's size */
  transform: translate(-50%, -50%);
  z-index: -999; /* puts the blob behind other content */
  transform-origin: center center; /* Set the rotation point to the center of the element */
  animation: rotate 50s infinite linear, pulsate 10s infinite ease-in-out;

}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .gradient-text {
    background: linear-gradient(270deg, #0061b6, #0098f0);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 3s infinite;
  }
  